* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

ol, ul {
    /* Annule l'affichage des puces et numéros des listes */
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}
