body {
    background-color: #fefefe;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 15px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

h4,
h5,
h6 {
    font-size: 16px;
}

body ul li {
    margin : 5px;
    border-top: solid 1px;
}

.button {
    background-color : #269e6a;
    border-radius: 25%;
    height: 40px;
    margin : 10px;
    padding-top: 10px;
    width: 80px;
    text-align: center;
    border: solid 2px;
}

.link {
    text-decoration: underline;
}


/*///////////////////////////////////////////header/////////////////////////////////////////////////////*/
header {
    background-color: #cafafa;
}

header ul {
    display: flex;
    flex-direction: row;
}

    nav>ul>li {
        margin: 20px;
        border: 0;
    }